#foot-note {
    background-color: black;
    padding: 7.5px;
    display: flex;
    justify-content: space-around;

    h3 {
        text-align: center;
    }

    div {
        width: 33.3vw;
        padding: 0 10vw;
        text-align: center;
    }
}